.video-js{
  width: 100%!important;
   height: 100vh;
}


.vjs-big-play-button{
  border: 3px solid green!important;
  width: 47px!important;
  height: 47px!important;
  border-radius: 50%!important;
}


.vjs-play-progress {
  background: #458a1c!important;
}


.video-js .vjs-play-progress:before{
  display: none;
}

/**********/
 /* .vjs-control{
  position: absolute!important;
  top: -22px!important;
  width: 100%!important;
} */
