.video-js{
  width: 100%!important;
   height: 100vh;
}

.vjs-big-play-button{
  background: #458a1c!important;
  border: 0.4px solid #ffffff!important;
  width: 47px!important;
  height: 47px!important;
  border-radius: 50%!important;
}

/* progress */
.vjs-play-progress {
  background: #458a1c!important;
}

.vjs-control-bar{
  background-color: rgb(0 0 0)!important;
}
