.video-js{
  width: 100%!important;
   height: 100vh;
}


/* social share plugin */
.vjs-custom-btn {
  order: 10;
  position: fixed!important;
  left: 93%;
  top: -85px;
}
.vjs-custom-btn .vjs-icon-placeholder::before{
  content: url('https://cp.5centscdn.net/player/5centscdn/skins/skin1/assets/share.svg');
  transform: scale(0.4);
  cursor: pointer;
}




/* CV plugin */
.vjs-cv-control {
  position: fixed!important;
  top: 0;
  left: 0;
}


.vjs-cv-control {
    position: fixed;
    top: 1em;
    left: 1em;
    height: 20px!important;
    line-height: 20px !important;
    font-weight: 900;
    background: rgba(0, 0, 0, 34%) url('https://cp.5centscdn.net/player/5centscdn/skins/skin1/assets/eye.svg') no-repeat left center;
    background-size: 10px 10px;
    background-position-x: 1em;
    border-radius: 6px;
}

.vjs-cv-display{
  text-align: center;
    position: relative;
    left: 1rem;
}
